.formBox {
    position: absolute;
    top: 0;
    z-index: -9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.InfoDiv {
    background-color: yellow;

}

.form {
    width: 30%;
    height: 70%;
    background-color: yellowgreen;
}