.ItemDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 50px;
    padding-top: 20px;
}

.items {
    width: 17%;
    height: 50%;
    padding: 10px 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: outset;
}

.item img {
    width: 130px;
}

.item:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition: all 0.3s;
    background-color: rgb(255, 210, 148);
}

h6 {
    padding: 5px 0px;
    margin: 0px;
}

p {
    color: orangered;
    margin: 0px;
}

.summary {
    font-size: 0.8rem;
    font-style: oblique;
    color: black;
    background-color: rgb(255, 210, 148);
    padding: 10px 10px;
    margin-bottom: 4px;
}

@media only screen and (max-width: 1100px) {
    .items {
        width: 30%;
        padding: 10px 30px;
    }
    .item img {
        width: 180px;
    }
}
@media only screen and (max-width: 750px) {
    .items {
        width: 50%;
        padding: 10px 20px;
    }
    .ItemDiv {
        padding: 0px 0px;
        padding-top: 20px;
    }
    .item img {
        width: 150px;
    }
}